// Colores
$primary-color: #191919;
$secondary-color: #6c757d;
$highlight-color: #C06B3F;
$text-color: #f8f9fa;

// Tipografía
$font-size-base: 1rem;
$font-size-title: 3rem;
$font-family-base: 'Roboto', sans-serif;
$spacing: 1.5rem;
