footer {
    background-color: #1c0d02;
    background: linear-gradient(to left, #000000, #333333);
    text-align: center;
    color: $text-color;
  
    h3 {
      text-align: left;
      color: $text-color;
    }
  
    ul {
      text-align: left;
      list-style: none;
    }
  
    p {
      text-align: center;
      color: $text-color;
    }
  
    img {
      width: 50px;
    }
  }
  