@media screen and (max-width: 768px) {
    main.historia{
      .contenidoHistoria{
        .videoContainer{
          display: none;
        }
      }
    }
  
    main.productos{
      .listaProductos {
        grid-template-columns: 1fr;
      }
    }
    main.servicios {

      &::before {
       display: none;
      }
    }
  
    main.contacto{
      section.mapa{
        iframe{
          height: auto;
        }
      }
      section.redes-sociales{
        ul{
          margin: 0;

          li{
            margin: 0 $spacing / 2;
  
            a{
              font-size: 2.5rem;
            }
          }
        }
      }
    }
    footer.pie-pagina{
      .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
      }  
    }  
  }

  